<template name="User_Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <div class="item"><h1>Gaming Buddies</h1></div>
      <a class= "item">Profile</a>
      <a class="item">Find Buddies</a>
      <a class="item">Game Directory</a>
      <a class="item">Quick Play</a>
      <a class="item" href="/tourneys">Tourneys</a>
      <a class="item"><img src="/images/discord-icon.png"></a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>